button {
    background-color: purple;
    border: none;
    color: white;
    padding: 16px 32px;
    position: absolute;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 50px;
    cursor: pointer;
}

button:hover {
    background-color: red;
    transition: .25s ease-out;
    transform: scale(1.05)
}


.btn1 {
    font-size: 30px;
    bottom: 10px;
    position: absolute;
    left: 10px;
    border: none;
}

.btn1:hover {
    color: white;
    background-color: gray;
    border: none;
    cursor: pointer;
}

