body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    background-color: #7a9cff;
  }

.cont {
    height: 2000px;
    max-width: 800px;
    margin: 0;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }

h1 {
    text-align: center;
    font-size: 4em;
  }

li {
    font-size: 2em;
    margin-bottom: 20px;
  }

.header {
    padding: 2em;
    text-align: center;
    background: #4271ff;
    color: white;
    font-size: 30px;
    transform: rotate(90deg);
    position: fixed;
    left: 5px;

}

.btn1 {
  font-size: 2em;
  transform: rotate(270deg);
  cursor: pointer;
}
